*.csproj
*.meta
MegaManEngineForUnity/obj/
MegaManEngineForUnity/.vs/
MegaManEngineForUnity/Build/
MegaManEngineForUnity/Library/
MegaManEngineForUnity/Logs/
MegaManEngineForUnity/Temp/
MegaManEngineForUnity/Packages/
MegaManEngineForUnity/ProjectSettings/
MegaManEngineForUnity/UserSettings/
*.sln

MegaManEngineForUnity/Assets/Resources/BillingMode.json

MegaManEngineForUnity/Assets/GameSaveData/

MegaManEngineForUnity/Assets/Resources/Sprites/Players/X/X_Icon.png
